# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Env variables
.env*
!.env.example

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node & Package Managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
bun.lock

# Angular
/.angular/
.sass-cache/


*.pem


# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System & Cache
.DS_Store
.DS_Store?
Thumbs.db
ehthumbs.db
Desktop.ini
.eslintcache

# Logs & Testing
*.log
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/
/connect.lock

